name: Master
on:
  push:
    branches:
      - master
jobs:
  docker:
    name: Build Docker image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout project
        uses: actions/checkout@v2
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          DOCKER_USER: ${{ secrets.DOCKER_USER }}
          DOCKER_PASS: ${{ secrets.DOCKER_PASS }}
      - name: Build Docker image
        uses: docker/build-push-action@v2
        with:
          tags: joshava/cloudflare-ddns
          push: false
          platforms: linux/amd64,linux/arm/v6,linux/arm/v7,linux/arm64
